body {
    background-color: #fff7f2;
}

/* divining divs */
#container {
    max-width: 850px;
    min-width: 700px;
    min-height: 600px;
    margin: auto;
    margin-top: -8px;
    padding: 0px 0px;
    background-color: #ffffff;
}
#byline {
    text-align:right;
    margin-right:10px;
    font-size:1em;
    margin-bottom: 15px;
    display:block;
    font-family: "Helvetica Neue", Verdana, sans-serif;
}

#intro {
    max-width: 700px;
    background-color: #ffffff;
    margin: auto;
    padding: 10px 20px 10px 20px;
}

#intro p {
    text-align: justify;
    max-width: 700px;
    margin:auto;
}
#tool {
    background-color: #ffffff;
    max-width: 800px;
    min-height: 500px;
    margin: auto;
    padding: 0 20px 70px 20px;
    border: #7c7c7c solid 1px;
}

.dial {
    max-width: 650px;
    height: 40px;
    border-radius: 2px;
    margin-left: 0;
    margin-top: -10px;
    border: #7c7c7c solid 1px;
    background-color: #fff7f2;
    background-size: 650px 40px;
    background-repeat: no-repeat;
}

.dial:hover {
    background-color: #ffffff;
}

.pointerRed {
    width: 1px;
    height: 36px;
    float: left;
    background-color: #ff7066;
    border: solid crimson 2px;
}

.pointerBlue {
    width: 1px;
    height: 36px;
    float: left;
    background-color: #0000ff;
    border: solid cornflowerblue 2px;
}

.pointerGreen {
    width: 1px;
    height: 36px;
    float: left;
    background-color: #14d70d;
    border: solid #a1eda5 2px;
}
 #redDensity {
     display: none;
}

#blueDensity {
    display: none;
}

#greenDensity {
    display: none;
}

#redViolence {
    display: none;
}

#blueViolence {
    display: none;
}

#redIncome {
    display: none;
}

#blueIncome {
    display: none;
}

#redSchools {
    display: none;
}

#blueSchools {
    display: none;
}

#redDiversity {
    display: none;
}

#blueDiversity {
    display: none;
}


.selected {
    margin-top: 20px;
    margin-right: 20px;
    height: 18px;
    padding: 5px 15px;
    border: 1px solid #7c7c7c;
    border-radius: 5px;
    float: left;
}

.hide {
    padding: 5px 0;
    margin: -2px -15px 0 10px;
    float: right;
    text-align: center;
    font-size: 0.8em;
    color: #000;
    width: 0;
    overflow: hidden;
    transition: ease 500ms;
}



/*.selected:hover .hide{
    width: 20px;
    transition: ease 250ms;
}*/

.selected p {
    font-size: medium;
    margin: auto;
}

#selectedRed {
    border-bottom: solid 6px #ff0000;
    display: none;
}


#selectedBlue {
    border-bottom: solid 6px #0000ff;
    display: none;
}

#reset {
    border-bottom: solid 6px #7c7c7c;
    display: block;
    cursor: pointer;
}

#reset:hover .hide{
    width: 20px;
    transition: ease 250ms;
}

#getData {
    float: right;
    padding-right: 10px;
}

#reset p{
    font-weight: bold;
    cursor: inherit;
}


/* font styles */
h1 {
    font-family: "Helvetica Neue", Verdana, sans-serif;
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: -10px;
}

h2 {
    font-family: "Helvetica Neue", Verdana, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}

p {
    font-family: "Helvetica Neue", Verdana, sans-serif;
    font-size: large;
}

ul {
    max-width:700px;
    margin-left: -20px;
    list-style: none;
    font-family: "Helvetica Neue", Verdana, sans-serif;
    font-size: large;
}

#getData a:link{
    font-family: "Helvetica Neue", Verdana, sans-serif;
    color: #eb0011;
}


.redText {
    color: #eb0011;
    font-weight: bolder;
}

.blueText {
    color: #0000ff;
    font-weight: bolder;
}
